{% extends 'base.html' %}
{% load static %}


{% block content %}
	<section class="full_screen">
		<div class="bg_page_register wrapper">
			<div class="content container" id="silver">
				<h2>Чаты</h2>
				<div class="personal-account_container place_an_order all_chats">
					<div class="left_column">
						<div class="personal-accaunt_info">
{#                            <a href="#">#}
{#								<div class="tablet reviews_block">#}
{#									<div class="block_tablet">#}
{#										<div class="avatar avatar_small">#}
{#											<a href="{% url 'another_accaunt' %}">#}
{#												<img src=" {% static 'img/logoBDOSHOP.png' %}" alt="">#}
{#											</a>#}
{#										</div>#}
{#										<div class="reviews_text">#}
{#											<div class="reviews_text_head">#}
{#												<a href="{% url 'another_accaunt' %}" class="name_user">Дима</a>#}
{#											</div>#}
{#											<p class="date"> 11 марта 2022</p>#}
{#											<p class="feedback">Недостатки: слабоватая шумоизоляция#}
{#											</p>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#							</a>#}
						</div>
					</div>

					<div class=" right_column">
						<div class="chat_container">
							<div class="chat-header">
								<div class="avatar avatar_small">
									<a href="{% url 'personal_accaunt' %}">
										<img src=" {% static 'img/NY9QOUB0Y87PV7BP20230118130138396.400x225.jpg' %} " alt="">
									</a>
								</div>
								<a href="{% url 'another_accaunt' %}" class="name_user">Администратор</a>
								<button class="btn chat-control" data-toggle="modal" data-target="#exampleModal" title=" Пожаловаться">
									<img src=" {% static 'img/exclamation-triangle-fill.svg' %} " alt="">
								</button>
							</div>

							<div class="chat-message-container">
								<div class="chat-message-list" id="inner">
									<div class="message message-head" id="message-552680631">
										<div class="chat-message">
											<div class="media-user-name">
												<a href="{% url 'personal_accaunt' %}" class="name_user">Дима</a>
												<div class="chat-message-date" title="11 марта 2022, 1:05:54">11.03.22</div>
											</div>
											<div class="message-text">Недостатки: слабоватая шумоизоляция
											</div>
										</div>
									</div>
									<div class="message message-head" id="message-552680631">
										<div class="chat-message">
											<div class="media-user-name">
												<a href="{% url 'personal_accaunt' %}" class="name_user">Администратор</a>
												<div class="chat-message-date" title="11 марта 2022, 1:05:04">11.03.22</div>
											</div>
											<div class="message-text">Здравствуйте вы же покупали не полную комплектации, там не предусмотрено шумоизоляция)
											</div>
											<div class="media-user-name">
												<a href="{% url 'personal_accaunt' %}" class="name_user">Дима</a>
												<div class="chat-message-date" title="12 марта 2022, 3:05:55">11.03.22</div>
											</div>
											<div class="message-text">Простите за неудобство
											</div>
										</div>
									</div>
									<div class="message" id="message-552680689">
										<div class="chat-message">
											<div class="message-text"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="chat-form">
								<form action="" method="post">
									<div class="chat-form-input">
										<div class="form-group" id="comments">
											<textarea class="form-control" name="content" cols="30" rows="1" placeholder="Написать..."
												autofocus=""></textarea>
											<div class="hiddendiv"></div>
										</div>
									</div>
									<div class="chat-form-btn">
										<button type="submit" class="btn btn-gray btn-round"><img src="{% static 'img/send.svg' %}" alt=""></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>
{% endblock %}